# Frontend
frontend/my-project/node_modules/

# Backend virtual env
backend/venv/

# Python cache
__pycache__/
*.pyc

# Environment files
.env
.env.*

# Excel & DB files (your case)
backend/*.xlsx
backend/*.db

# Optional: keep specific file if needed
# !backend/patients.xlsx