# Frontend
frontend/my-project/node_modules/

# Backend virtual env
backend/venv/

# Python cache
__pycache__/
*.pyc

# Environment files
.env
.env.*

# Excel & DB files (your case)
backend/*.xlsx

backend/Report_Automation/*.xlsx
backend/*.db

# Optional: keep specific file if needed
# !backend/patients.xlsx

backend/**/*.xlsx
backend/Report Automation/Database_integrations_With_Filter V1/Somatic and germline important gene list.xlsx

backend/Report Automation/new_report_template.docx


backend/**/*.docx



backend/**/*.pdf
backend/Report Automation/Final_Report/venv

backend/Report Automation/Database_integrations_With_Filter V1/SOMATIC/Databases

backend/**/*.txt
backend/Report Automation/Database_integrations_With_Filter V1/SOMATIC/Resources





